<!-- Loop over each object in the posts array -->
<h1>Welcome to dashboard</h1>
<h2>View all posts </h2>
{{#each posts as |post| }}
<div class="container">
    <div class="row mb-4 post bg-secondary text-light">
        <div class="col-md-5">
            <h2>

                <a href="/posts/{{post.id}}" class="text-light">{{post.title}}</a>
            </h2>
        </div>
        <div class="col-md-5">
            <p>Posted by {{post.user.username}} on </p>{{post.date_created}}
        </div>
    </div>

    <div class="row">
        <p>
            {{post.content}}
        </p>
    </div>
</div>
{{/each}}
<a href="/newpost">Add New Post</a>